*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #2f363e;
}
#clock
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}
.dots
{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    rotate: 90deg;
}
.dots h2
{
    position: absolute;
    text-align: center;
    transform: rotate(-90deg);
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    font-weight: 500;
    color: var(--clr);
}
.dots h2 span
{
    position: absolute;
    font-size: 0.25em;
    font-weight: 500;
    bottom: 50px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
.dots b
{
    position: absolute;
    display: inline-flex;
    transform: rotate(-90deg)translate(-30px, 95px);
    color: #DC6ACF;
}
.dots::before
{
    content: "";
    position: absolute;
    inset: -20px;
    border-radius: 50%;
    box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.25),
    10px 10px 70px rgba(0, 0, 0, 0.25),
    inset 5px 5px 10px rgba(0, 0, 0, 0.25),
    inset 5px 5px 20px rgba(255, 255, 255, 0.2),
    inset -5px -5px 15px rgba(0, 0, 0, 0.75);
    background: rgb(0, 0, 42);
}
#hrDots
{
    --clr:#7F7EFF;
}
#minDots
{
    --clr:#06D6A0;
}
#secDots
{
    --clr:#DC6ACF;
} 
#hrDots .dot,
#minDots .dot,
#secDots .dot
{
    position: absolute;
    top: 50%;
    width: 10px;
    height: 3px;
    background: var(--clr);
    transform-origin: 100px;
}
#hrDots .active.dot,
#minDots .active.dot,
#secDots .active.dot
{
    background: var(--clr);
    box-shadow: 0 0 10px var(--clr),
    0 0 20px var(--clr),
    0 0 30px var(--clr);
}
#hrDots .active.dot ~ .dot,
#minDots .active.dot ~ .dot,
#secDots .active.dot ~ .dot
{
    background: #555;
}
#minDots .dot:nth-child(5n+5),
#secDots .dot:nth-child(5n+5)
{
    width:20px;
}
#hrDots .dot
{
    width: 20px;
}
#hrDots .dot::before
{
    content:'';
    position: absolute;
    left:0;
    top: 10px;
    width:4px;
    height: 4px;
    border-radius: 4px;
    background: var(--clr);
    box-shadow: 1.5px 9px var(--clr),
    4px 18px var(--clr),
    7px 27px var(--clr);

}
#hrDots .dot.active ~ .dot::before
{
    background: #555;
    box-shadow: 1.5px 9px #555,
    4px 18px #555,
    7px 27px #555;
}