*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: #00D9C0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#container
{
    background-color: #141414;
    width: 95vw;
    border-radius: 1rem;
    margin-top: 4rem;
    padding: 1rem;
}
header
{
    color:#b2b2b2;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
/* .volume-slider
{
    accent-color: #fff;
} */

.on-off input
{
    width: 60px;
    height: 30px;
    appearance: none;
    cursor: pointer;
    border-radius: 30px;
    position: relative;
    background: #4b4b4b;
}
.on-off input::before
{
    content:"";
    height: 20px;
    width: 20px;
    top: 50%;
    left:5px;
    position: absolute;
    border-radius: inherit;
    background: #8c8c8c;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}
.disabled
{
    pointer-events: none;
}
.on-off input:checked::before
{
    left:35px;
    background: #fff;
} 
.keys-checkbox input
{
    width: 60px;
    height: 30px;
    appearance: none;
    cursor: pointer;
    border-radius: 30px;
    position: relative;
    background: #4b4b4b;
}
.keys-checkbox input::before
{
    content:"";
    height: 20px;
    width: 20px;
    top: 50%;
    left:5px;
    position: absolute;
    border-radius: inherit;
    background: #8c8c8c;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}
.keys-checkbox input:checked::before
{
    left:35px;
    background: #fff;
} 
.key.hide span
{
    display:none;
}
.casio
{
    display: flex;
    width: 90vw;
    height: 53vh;  
    margin: 0 auto;
    position: relative;
    padding: 1rem;
}
.key
{
    border-radius: 0 0 4px 4px;
    box-shadow: 2px 2px 10px 0px #ccc;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom:20px;
    color: rgb(151, 151, 151);
}
.white
{
    width: 5rem;
    height: 20rem;
    border-radius: 0.5rem;
    background: linear-gradient(#fff 96% , #eee 4%);
    transition: 0.2s all;
    margin-left:1px;
}
.black
{
    width: 3rem;
    height: 14rem;
    background-color: rgb(36, 32, 30);
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    z-index: 1;
    background: linear-gradient(#141414 94%, rgba(36, 32, 30, 1) 6%);
    position: absolute;
    transition: 0.2s all;
}
.white:hover
{
    background: linear-gradient(
        180deg, 
        rgb(215, 215, 215) 26%,
        white 86%
    );
    border-bottom: none;
    transform: rotate3d(1, 0, 0, 20deg);
}
.black:hover
{
    background: linear-gradient(
        180deg, 
        rgb(37, 37, 37) 26%,
        #141414 86%
    );
    transform: rotate3d(1, 0, 0, 20deg);
}
#b1
{
    left: 54px;
}
#b2
{
    left: 118px;
}
#b3
{
    left: 245px;
}
#b4
{
    left: 309px;
}
#b5
{
    left: 372px;
} 
#b6
{
    left: 499px;
}
#b7
{
    left: 562px;
}
#b8
{
    left: 689px;
}
#b9
{
    left: 752px;
}
#b10
{
    left: 815px;
} 
#b11
{
    left: 942px;
}
#b12
{
    left: 1005px;
}
#b13
{
    left: 1132px;
}
#b14
{
    left: 1195px;
}
#b15
{
    left: 1258px;
}  